.trendingsearches ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    justify-content: center;
    align-items: center;
}

.trendingsearches ul li {
    list-style: none;
    text-decoration: none;
    margin: 2%;
    cursor: pointer;
    background-color: yellow;
    padding: 1%;
    color: black;
}